<launch>
  <arg name="ACADOS_INSTALL_DIR" default="$(optenv HOME)/acados" />

  <env name="LD_LIBRARY_PATH" value="$(arg ACADOS_INSTALL_DIR)/lib:$(optenv LD_LIBRARY_PATH)" />
  <env name="ACADOS_SOURCE_DIR" value="$(arg ACADOS_INSTALL_DIR)" />


  <node pkg="mpc_controller" type="test_acados_SRBD" name="mpc_test_node" output="screen">
  </node>

  <!-- state estimation -->

  <!-- <node pkg="olympus_kinematics" type="olympusObserver" name="olympus_observer" output="screen">
    <param name="robot" textfile="$(find olympus_kinematics)/configs/real_offsets.yaml" type="yaml"/>
  </node>  -->

</launch>